html {
	font-size: 50px;
}
body {
	font-size: 12px;
}
.content {
	position: absolute;
	width: 100%;
	top: .94rem;
	bottom: .98rem;
	overflow: hidden;
}
.one-bottom {
	position: relative;
	width: 100%;
	/*display: block;*/
}
.one-top {
	position: relative;
	width: 100%;
}
.one-top:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-top: 1px solid #b7b7b7;
	top: -1px;
	transform: scaleY(0.5);
}
.one-bottom:after {
	content: "";
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ddd;
	transform: scaleY(0.5);
}
.iconfont {
	font-size: .16rem;
}
.pub-flex {
	display: flex;
	justify-content: space-around;
}
.top {
	height: .94rem;
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.w720 {
	width: 96%;
	color: #666;
	align-items: center;
}
.top-l {
	font-size: .3rem;
	display: flex;
	align-items: center;
}
.top-l i {
	font-size: .2rem;
}
/*width: 516px;*/
.top-m {
	display: flex;
	color: #6d6d6d;
	width: 71.7%;
	height: .58rem;
	line-height: .58rem;
	background-color: #f4f4f4;
	font-size: .26rem;
	border-radius: .24rem;
}
.top-m i {
	margin-left: .16rem;
	margin-right: .16rem;
	font-weight: bold;
	font-size: .26rem;
}
.search-ipt {
	border: none;
	outline: none;
	width: 85.3%;
	height: .58rem;
	line-height: .58rem;
	background-color: #f4f4f4;
	font-size: .26rem;
}
.top-r {
	display: flex;
}
.top-r i {
	font-size: .4rem;
}
.banner, .banner img {
	width: 100%;
}
/* .banner {
	position: relative;
} */
.banner .open-app {
	left: 17%;
}
.banner a {
	position: absolute;
	bottom: 10%;
	width: 31%;
	height: 34%;
	z-index: 1;
}
.banner .down-app {
	position: absolute;
	right: 17%;
	bottom: 10%;
	width: 31%;
	height: 34%;
	z-index: 1;
}
.banner img {
	display: block;
}
.links-inner .link {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: .2rem 0;
}
.links-inner .link span {
	font-size: .24rem;
	color: #6a6a6a;
	height: .26rem;
	line-height: .26rem;
}
.links-inner .link .iconfont {
	font-size: .62rem;
	color: #fff;
}
.links-inner .link em {
	width: .8rem;
	height: .8rem;
	text-align: center;
	border-radius: 50%;
	margin-bottom: .14rem;
	line-height: .8rem;
}
.bg-zise {
	background: #8a90fa;
}
.bg-orange {
	background: #fd9d21;
}
.bg-pink {
	background: #ff6767;
}
.bg-blue {
	background: #599eec;
}
.green {
	color: #13c5af;
}
.yellow {
	color: #ffb70a;
}
.blue {
	color: #4aa9ff;
}
.pink {
	color: #ff7890;
}
.links-wrap {
	padding-bottom: .3rem;
}
#swiper-dots .swiper-pagination-bullet {
	width: .16rem;
	height: .16rem;
	border-radius: 50%;
	margin-top: .08rem;
	margin-right: .15rem;
	margin-left: .15rem;
}
#swiper-dots {
	bottom: .1rem;
}
.h20 {
	height: .2rem;
	background-color: #efefef;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.occasion-box {
	display: flex;
	padding: .12rem;
}
.one-left {
	position: relative;
}
.one-left:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	border-left: 1px solid #ddd8ce;
	transform: scaleX(0.5);
	left: -1px;
	top: 0;
}
.occasion-item {
	margin: auto;
	width: 33.3%;
}
.occasion-item .info em {
	display: block;
	color: #55a40f;
  font-size: .3rem;
  margin-top: .12rem;
  margin-bottom: .26rem;
  padding-left: .4rem;
  font-weight: bold;
}
.occasion-item .info strong {
	display: block;
	padding-left: .4rem;
}
.occasion-item .img {
	display: block;
	width: 1.24rem;
	height: 1.24rem;
	line-height: 1.24rem;
	margin: auto;
}
.occasion-item .img img {
	width: 100%;
	height: 100%;
}
.occasion-item:first-child {
	border-left: 0;
}
.w708 {
	width: 94.4%;
}
.seller-list-top {
	font-size: .34rem;
	padding-top: .2rem;
	position: relative;
	padding-bottom: .2rem;
}
.seller-list-top:after {
	content: "";
	display: block;
	position: absolute;
	padding-bottom: .2rem;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ddd;
	padding-bottom: .2rem;
	transform: scaleY(0.5);
} 
.guess-tit {
	border-bottom: 1px solid #ddd;
}
.seller-item {
	display: flex;
	padding-top: .24rem;
	padding-bottom: .2rem;
	justify-content: space-between;
}
.img-link {
	width: 1.8rem;
	height: 1.64rem;
}
.img-link img {
	display: block;
	width: 100%;
	height: 100%;
}
.pro-des {
	width: 68%;
	padding-right: .18rem;
}
.pro-tit {
	display: flex;
	justify-content: space-between;
  height: .52rem;
  line-height: .52rem;
}
.pro-link {
	font-size: .3rem;
  color: #333;
  font-weight: bold;
}
.pro-tit .distance {
	color: #999;
	font-size: .24rem;
}
.sub-tit {
	width: 94.4%;
	line-height: .42rem;
	height: .42rem;
	overflow: hidden;
	font-size: .24rem;
	color: #999;
}
.pro-wrap {
	border-bottom: .02rem solid #e5e5e5;
}
.pro-price {
	position: relative;
	height: .54rem;
	line-height: .54rem;
	font-size: .24rem;
	color: #999;
}
.pro-price em, .pro-price .price-flag {
	color: #06c1ae;
}
.pro-price .sales {
	position: absolute;
	right: 0;
	top: .04rem;
}
.pro-price em {
	font-size: .38rem;
	font-weight: bold;
}
.pro-price span {
	font-size: .26rem;
}
.footer {
	height: .98rem;
	position: absolute;
	line-height: .98rem;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}
.ft-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ft-item .iconfont {
	width: .46rem;
	height: .46rem;
	line-height: .46rem;
	font-size: .46rem;
}
.ft-item span {
	font-size: .2rem;
	color: #afada6;
	height: .36rem;
	line-height: .36rem;
}
.footer .on, .footer .on span {
	color: #06c1ad;
}
.seller-list-box {
	padding-left: .2rem;
	margin-bottom: .98rem;
}

/*我的页面*/

.my-top {
	background-color: #06c1ae;
	color: #fff;
}
.w702 {
	width: 93.6%;
}
.top-icons {
	display: flex;
	justify-content: flex-end;
	padding-top: .22rem;
}
.top-icons .iconfont {
	width: .44rem;
	height: .44rem;
	line-height: .44rem;
	font-size: .44rem;
	color: #fff;
}
.top-icons .iconfont:first-child {
	margin-right: .46rem;
}
.top-logo-wrap {
	padding-top: .28rem;
	display: flex;
	align-items: center;
	padding-bottom: .6rem;
}
.top-logo-wrap .logo {
	width: 1.14rem;
	height: 1.14rem;
}
.top-logo-wrap .logo img {
	display: block;
	width: 100%;
}
.login-btn {
	font-size: .34rem;
	color: #fff;
	margin-left: .24rem;
}
.h24 {
	height: .24rem;
	background-color: #f4f4f4;
}
.my-item {
	/*border-bottom: 1px solid #e5e5e5;*/
}
.my-link {
	display: flex;
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	justify-content: space-between;
}
.my-link-l {
	font-size: .3rem;
}
.my-link-l i, .my-link>.iconfont {
	font-size: .4rem;
}
.load-more {
	text-align: center;
	height: .6rem;
  line-height: .6rem;
  display: flex;
  justify-content: center;
}
.load-more img {
	height: 100%;
	margin-right: .3rem;
}